* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/bg.png');
    background-size: cover;
}

@font-face {
    font-family: textFont;
    src: url(../fonts/text.otf) format('embedded-opentype');
}


.main {
    width: 30%;
    height: 280px;
    background: #fff;
    padding: 15px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    animation: showMain .4s forwards;
    -webkit-animation-fill-mode: forwards;
    border-radius: 4px;
    box-shadow: 0 0 10px #000;

}

@keyframes showMain {
    0% {
        top: -600px;
        bottom: 0;
    }

    100% {
        top: 0;
        bottom: 0;
    }
}

.main h2 {
    font-family: Ubuntu;
    color: #333;
    display: block;
}

.main form label {
    display: block;
    font: 16px textFont;
    color: #444;
}

.textBox {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    font: 14px textFont;
    background: transparent;
    margin: 10px 0;
    ;

}

.btn {
    display: block;
    height: 35px;
    width: 100%;
    font-size: 15px;
    background: #333;
    border: 1px solid #333;
    transition: all .2s ease-in;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    transition: all .2s ease-in;
    background: transparent;
    color: #333;
}

#game {
    display: none;
}

.hiddenStart {
    animation: hiddenMain .4s forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes hiddenMain {
    0% {
        top: 0;
        bottom: 0;
    }

    100% {
        top: -600px;
        display: none !important;
    }
}

.showGame {
    display: block !important;
    animation: showGameAnim .4s forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes showGameAnim {
    0% {
        top: -600px;
        bottom: 0;
    }

    100% {
        top: 0;
        bottom: 0;
    }
}

.gameInfo {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.gameInfo #backToStart {
    padding: 4px 15px;
    color: #444;
    border: 1px solid #444;
    border-radius: 5px;
    font-weight: 500;
    float: left;
}

.gameInfo #backToStart:hover {
    background: #444;
    color: #fff;
    cursor: pointer;
}

.gameInfo p {
    float: right;
    font-size: 18px;
    color: #444;
}

.answer {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.answer input {
    float: left;
}

.answer label {
    line-height: -10px !important;
    margin: 0 10px !important;
    float: left;
}

.nextBtn {
    padding: 10px 25px;
    float: right;
    border: 1px solid green;
    color: green;
    cursor: pointer;
    border-radius: 4px;
}
.nextBtn:hover{
    background: green;
    color:#fff;
}